<% provide(:page_title, "Contact Page") %>
<% provide(:contact_active, "active") %>

<section class="content">
    <h1>Contact us</h1>
    <p>Would you like to leave a compliment? You can absolutely do it below.</p>
</section>