<table>
  <tbody>
    <tr>
      <td><p>You have received a new contact form message from <strong>eCommerce Websit</strong>. The contents of the message are:</p></td>
    </tr>
    <tr>
      <td><h3>Name: </h3><p><%= @name %></p></td>
    </tr>
    <tr>
      <td><h3>Subject: </h3><p><%= @subject %></p></td>
    </tr>
    <tr>
      <td><h3>Message: </h3><p><%= @message %></p></td>
    </tr>
  </tbody>
</table>