<% if flash[:notice] %>
    <div class="alert alert-info" role="alert" id="notice">
        <%= flash[:notice] %>
    </div>
<% end %>

<% if flash[:success] %>
    <div class="alert alert-success" role="alert" id="success">
        <%= flash[:success] %>
    </div>
<% end %>

<% if flash[:alert] %>
    <div class="alert alert-warning" role="alert" id="warning">
        <%= flash[:alert] %>
    </div>
<% end %>

<% if flash[:error] %>
    <div class="alert alert-danger" role="alert" id="error">
        <%= flash[:error] %>
    </div>
<% end %>
