<% provide(:page_title, "Orders") %>
<% provide(:order_active, "active") %>

<div class="margin-top-75">
	<h1>Your recent orders: </h1>
	<p>Total amount of order waiting for delivery: <%= @orders.count %></p>

	 <%= render partial: "shared/order", collection: @orders %>

</div> 