.trash-icon{
	margin: 5px;
	font-size: 1.5em;
	color: #f00;
}

.myalert {
	z-index: 1000;
	width: 400px;
  position: fixed;
  right: 100px;
	bottom: 20px;
}

.fa-comment {  font-size: 3rem; }

.notif-title {
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}

@media (max-width: 575.98px) {
	
	.myalert {
		max-width: 100%;
		right: 0px;
		bottom: 0px;
	}

}