// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.margin-top-75{
    margin-top: 75px;
}

.post-page-img{
    display: block;
    height: 490px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}