<% provide(:page_title, "Edit #{@product.name}") %>
<% provide(:product_active, "active") %>

<h1>Editing Product</h1>

<%= render 'form', product: @product %>

<%= link_to 'Show', @product %> |
<%= link_to 'Back', products_path %>
