<% provide(:page_title, "Products") %>
<% provide(:product_active, "active") %>



<div class="container content">
  
  <%= render partial: "shared/notice", locals: {notice: notice} %>

  <h1>Products</h1>

  <div class="row">
      <%= render partial: "shared/product", collection: @products %>
  </div>

  <% if signed_in? %>
	  <div class="row">
	    <%= link_to 'New Product', new_product_path, class: "btn btn-lg btn-primary" %>
	  </div>
  <% end %>
</div>


