<% provide(:page_title, "Add Product") %>
<% provide(:new_product_active, "active") %>

<h1>New Product</h1>

<%= render 'form', product: @product %>

<%= link_to 'Back', products_path, class:"btn btn-info" %>
